header{
        display: flex;
        height: 70px;
        width: 100;
        background-color: #AEA0D0;
        justify-content: space-between; 
        padding: 30px;
    }
    .log {
        display: flex;
        align-items: center;
    }
    .log img{
        height: 50px;
        margin-right: 10px  ;
    }